/* google font link */
* {
	font-family: 'Poppins', sans-serif;
}

/* Home section */
.image-slider-wh {
	object-fit: cover;
}

/* Choose Plan section */
.choosed-plan-custom {
	justify-content: space-between !important;
	transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.choosed-plan-custom:hover {

	background-color: #3F87F5 !important;
	background-image: url(../icons/watermark.svg) !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	color: white;
	transform: scale(1.120);
	box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);

}

.choosed-plan-custom:hover .fa-check {
	color: white !important;
}

.choosed-plan-custom:hover .choose-plan-badge-custom {
	display: block !important;
}

/* About us style */
.about-section-part-coustom {
	transition: all 0.5s ease-in-out;
}

.about-section-part-coustom:hover {
	background-color: #4b92fde4 !important;
}

/* footer styles */
.apple-button {
	background-color: black !important;
	width: 200px;
}

.playstore-button {
	background-color: black;
	width: 200px;

}

.apple-button:hover {
	background-color: rgba(56, 55, 55, 0.917) !important;
}

.playstore-button:hover {
	background-color: rgba(56, 55, 55, 0.917) !important;
}

@media screen and (max-width:600px) {
	.nav-logo-custom {
		font-size: 14px !important;
		word-wrap: break-word;
	}

	.our-package-title-custom {
		font-size: 10px !important;
	}

	.choose-plan-button {
		font-size: 14px !important;
	}
}

@media screen and (max-width:768px) {

	.our-package-title-custom,
	.faq-title-custom,
	.about-us-title-custom {
		font-size: 24px !important;
	}

}